.h1
{
    color: blue;
    font-style: italic;
    font-size: 3rem;
    text-align: center;
    margin-bottom: 1%;
    gap:100%
    
}
.h2
{
    color: blue;
    font-size: 2rem;
    text-align: center;
    margin-top: 1%;
}
.container{
    border:2px solid black;
    justify-self: center;
    height: 50vh;
    width: 150vh;
    
}
.p
{
    text-align: center;
    font-size: 1.15rem;
}
.list
{
    display: flex;
    margin: 4px;
    border: 2px solid black;
    border-radius: 5px;
    height: 5vh;
    align-items: center;
    justify-content: center;
    
}
.col 
{
    flex: 1;
    text-align:center
}
.cave{
    color:red
}
.ruins{
    color: yellow
}
.town{
    color: blue
}